body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-container {
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
}

select, input, button {
    padding: 10px;
}

.transactions-container {
    margin-top: 20px;
}

.transaction {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
    align-items: center; /* Выравнивание по вертикали */
}

.transaction.income {
    background-color: #e6f3e6;
}

.transaction.expense {
    background-color: #f3e6e6;
}

.delete-button {
    cursor: pointer;
    font-size: 20px;
    color: #888;
    line-height: 1; /* Выравнивание по вертикали */
    padding: 0 5px; /* Добавим немного отступов */
}

.delete-button:hover {
    color: #333;
}